#cam-script-val {
    font-size: 115%;
    font-family: consolas;
    height: 200px;
}
#camunda-delegate, #cam-condition , #camunda-resultVariable, #camunda-scriptResultVariable,
#camunda-table-row-cell-input-value, #cam-extensionElements-inputs, #camunda-parameterType-text  {
    font-size: 115%;
    font-family: consolas;
}

.selected:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: #52b415 !important;
}

.selected.djs-connection .djs-visual > :nth-child(1) {
    stroke: #52b415 !important;
}

/* start-event */
g[data-element-id *= "Start"] > g > circle {
stroke: #63A717 !important;
fill: #EBFFB2 !important;
}

/* intermediate-event */
g[data-element-id *= "Intermediate"] > g > circle {
stroke: #99944E !important;
fill: #FEFCF4 !important;
}

/* end-event */
g[data-element-id *= "End"] > g > circle {
stroke: #990000 !important;
fill: #F3C6C6 !important;
}

/* task */
g[data-element-id *= "Task"] > g > rect {
stroke: #2379A3 !important;
fill: #EDF0FF !important;
}

/* call activity */
g[data-element-id *= "CallActivity"] > g > rect {
stroke: #dfa179 !important;
fill: #ffd6a7 !important;
}

/* gateway */
.djs-visual > polygon {
stroke: #A8A821 !important;
fill: #FFFFDD !important;
}